* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    width: 100%;
    height: 100vh;
    background: rgb(34,195,143);
    background: linear-gradient(40deg, rgba(34,195,143,1) 4%, rgba(125,34,195,1) 100%);
    display: grid;
    font-size: 15px;
    place-content: center;
    font-family: 'Open Sans', sans-serif;
}

.form_reg {
    background: rgb(255, 255, 255, 0.3);
    width: 300px;
    height: 400px;
    border-radius: 5%;
    display: grid;
    place-content: center;
}

p {
    margin-bottom: 5%;
}

input{
    margin-bottom: 10%;
    background: rgb(211, 248, 231);
    height: 30px;
    padding: 0 12px;
    border: 2px solid rgb(211, 248, 231);
    border-radius: 20px;
    box-shadow: 0px 0px 15px;
}

.inputDiv {
    margin-bottom: 12%;
}

.buttonDiv{
    display: grid;
    place-content: center;
}

.button {
    width: 150px;
    height: 120%;
    margin: 0;
    padding: 5px 20px;
    box-shadow: 0 0 10px;
    border: 0;
    border-radius: 20px;
    background: white;
    font-family: 'Open Sans', sans-serif;
}

.button:active{
    box-shadow: 0 0 10px lightblue;
    background: lightblue;
}

.common {
    text-align: center;
    width: 400px;
    height: 150px;
    position: absolute;
    padding: 20px 30px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    opacity: 0;
}

.name:hover ~ .nameUser{ opacity: 1;}
.email:hover ~ .emailUser{ opacity: 1; }
.password:hover ~ .passwordUser{ opacity: 1; }